body {
    background-image: url(sports.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login {
    margin-left: 1300px;
    background-color: rgba(154, 137, 137, 0.867);
}

h1 {
    font-size: xx-large;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline;
}

.name {
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1e40af;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 17px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 0, 0);
}